.cryptoDetails{
    margin-bottom: 1rem;
}

.main_heading{
    margin: 5rem 1rem 1rem 1rem;
    text-align: center;
}

.main_heading h1{
    color: #0071bd;
}

.cryptoDetails .mainHr{
    margin-left: 1rem;
    margin-top: 3rem;
    font-weight: bolder;
    color: grey;
}

.stats{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat_heading{
    width: 100%;
}

.stat h1{
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.anotherInfo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.theory{
    width: 50%;
}
.theory h3,.links h3{
    font-weight: 500;
    font-size: 1.75rem;
}
.theory p{
    font-size: 1rem;
    font-weight: 500;
    color: #0071bd;
    text-align: justify;
}

.loader{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 950px){
    .cryptoDetails .mainHr{
        margin-right: 1rem;
    }
    .stat{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 700px){
    .stats{
        justify-content: center;
    }
}

@media (max-width: 1000px){
    .anotherInfo{
        flex-direction: column;
        align-items: center;
    }
    .theory{
        width: 75%;
    }
}